.class-box {
  margin: 0 auto;
  margin-top: 50px;
}
.serchtext {
  height: 32px;
  width: 0;
  border: 0;
}
.on {
  width: 0;
  border: 1px solid #d5d9d0;
  border-right: 0;
}
.serch {
  width: 43px;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.serchimg {
  width: 25px;
  height: 30px;
  display: inline-block;
  margin-left: 9px;
  background: url('../../bundle/img/icon.png') no-repeat;
  background-position: -335px -30px;
}
.head {
  color: #767575;
}
.btn {
  width: 76px;
  height: 23px;
  background: #cb441e;
  border-radius: 2px;
  color: white;
}
.head-btn {
  background: #cb441e;
  color: white;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
.head-on {
  color: #cb441e;
}
.i-icon,
.i-icon-on {
  width: 20px;
  height: 18px;
  background: url("../../bundle/img/icon.png") no-repeat;
  display: inline-block;
}
.i-icon {
  background-position: -634px -33px;
}
.i-icon-on {
  background-position: -634px -62px;
}
.table-box tbody tr td:first-child {
  padding-left: 45px;
}
.class-box input {
  vertical-align: middle;
}
.manage-popup .popup {
  width: 420px;
  height: 584px;
  margin-left: -210px;
  margin-top: -292px;
}
.manage-popup .popupbox {
  width: 360px;
  height: 500px;
  padding: 15px 30px;
}
.class-detail,
.change-news-box {
  width: 356px;
  height: 200px;
  border: 1px solid #bababa;
  overflow-y: auto;
  font-size: 12px;
}
.class-detail table tr {
  height: 30px;
}
.class-detail table thead {
  font-size: 12px!important;
}
.class-detail table tbody tr:hover {
  background: #eef0ec;
}
.dustbin,
.dele-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background: url("../../bundle/img/icon.png") no-repeat;
}
.dustbin {
  background-position: -504px -92px;
}
.dele-icon {
  background-position: -654px -168px;
}
.click-on {
  color: #cb441e;
}
.change-news-box {
  width: 316px;
  height: 120px;
  padding: 10px 20px;
}
.selet-teacher,
.input-time,
.selet-text {
  width: 80px;
  height: 25px;
  display: inline-block;
}
.input-time {
  height: 23px;
}
.per45 {
  width: 49.8%;
  display: inline-block;
}
.ok-btn {
  width: 45px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #bababa;
  color: #333333;
  background: white;
  cursor: pointer;
}
.ok-btn:hover {
  background: #cb441e;
  color: white;
  border: 0;
  height: 22px;
  line-height: 22px;
}
.alert-error {
  height: 23px;
  display: inline-block;
  border: 1px solid #cb441e;
  line-height: 23px;
  padding: 0 10px;
  border-radius: 4px;
  color: #cb441e;
  background: #fff3f3;
}
.account-box .popup {
  width: 360px;
  height: 376px;
  margin-left: -180px;
  margin-top: -187px;
}
.account-active .popupbox {
  width: 300px;
  height: 297px;
  padding: 15px 30px;
}
.account-news,
.account-time {
  width: 270px;
  height: 104px;
  overflow-y: auto;
  padding: 5px 15px;
  border: 1px solid #bababa;
}
.account-news li,
.account-time li {
  margin-bottom: 10px;
}
.account-time {
  height: 62px;
}
.account-time label {
  cursor: pointer;
}
.none {
  visibility: hidden;
}

/*# sourceMappingURL=maps/distribute-tea.css.map */
