div.hidden {
  display: none;
}
body {
  color: #797979;
}
.w190 {
  width: 190px;
}
.mt15 {
  margin-top: 15px;
}
.phone-color {
  color: #666666;
}
.week {
  color: #959595;
}
.ml5r20 {
  margin-left: 5px;
  margin-right: 20px;
}
.chrome {
  height: 30px;
  line-height: 30px;
  background-color: #fbf9f8;
}
.chrome .download {
  display: inline-block;
  margin-left: 40px;
  width: 72px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #d5d9d0;
}
.chrome .close {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-left: 235px;
  cursor: pointer;
  background: url('../../bundle/img/close-x.png') center center no-repeat;
}
.login-head {
  height: 70px;
  width: 80%;
  margin: 0 auto;
}
.login-head .login-head-right {
  width: 325px;
  margin: 8px 30px 8px 0;
}
.login-head .login-head-right .telephone {
  height: 37px;
  width: 37px;
  background: url('../../bundle/img/icon.png') -256px -298px no-repeat;
}
.login-head .login-head-right .login-btn {
  position: relative;
  top: -14px;
  height: 30px;
  width: 90px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #ca4519;
}
.login-head .logo {
  margin-top: 13px;
}
.banner-wrap {
  background-color: #f8f9f9;
}
.banner-wrap .banner {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.banner-wrap .banner .banner-width {
  width: 100%;
}
.banner-wrap .banner .WeChat-collect {
  max-height: 69px;
  border: 1px solid #bababa;
  width: 36px;
  position: absolute;
  top: 450px;
  right: 3px;
}
.banner-wrap .banner .WeChat-collect .collect-btn {
  cursor: pointer;
  height: 18px;
  width: 21px;
  padding: 8px;
  background: url('../../bundle/img/heart-btn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .collect-btn:hover {
  background: #e1dddc url('../../bundle/img/heart-btn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .collect-btn.active {
  background: #e1dddc url('../../bundle/img/heart-btn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .collect-btn.collected {
  background: url('../../bundle/img/heart-btn-active.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .collect-btn.active.collected {
  background: #e1dddc url('../../bundle/img/heart-btn-active.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .WeChat-btn {
  cursor: pointer;
  height: 29px;
  width: 30px;
  padding: 3px;
  background: url('../../bundle/img/WeChatBtn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .WeChat-btn:hover {
  background: #e1dddc url('../../bundle/img/WeChatBtn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .WeChat-btn.active {
  background: #e1dddc url('../../bundle/img/WeChatBtn.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .WeChat-wrapper {
  position: relative;
  left: -373px;
  top: -147px;
  height: 134px;
  width: 358px;
  padding: 7px;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
  -webkit-box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
}
.banner-wrap .banner .WeChat-collect .WeChat-wrapper .WeChat-dashed {
  height: 102px;
  width: 336px;
  border: 1px dashed #bababa;
  padding: 14px 10px 14px 10px;
}
.banner-wrap .banner .WeChat-collect .WeChat-wrapper .WeChat-dashed .WeChat {
  margin-right: 25px;
  height: 106px;
  width: 106px;
  background: url('../../bundle/img/WeChat.png') center center no-repeat;
}
.banner-wrap .banner .WeChat-collect .WeChat-wrapper .WeChat-dashed .describe .scan {
  color: #333333;
  margin-bottom: 10px;
}
.banner-wrap .banner .WeChat-collect .WeChat-wrapper .WeChat-dashed .describe .line24 {
  line-height: 24px;
}
.copy-right {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}
.login-pop {
  height: 400px;
  width: 700px;
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  margin-left: -350px;
  margin-top: -200px;
  box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
  -webkit-box-shadow: 0 0 10px 0 rgba(95, 30, 31, 0.5);
}
.login-pop .login-pop-left {
  height: 100%;
  width: 275px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f3f0e9 url("../../bundle/img/login-pop-left.png") center center no-repeat;
}
.login-pop .login-pop-right {
  height: 100%;
  width: 425px;
  margin-left: 275px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #ffffff url("../../bundle/img/login-pop-right.png") center top no-repeat;
}
.login-pop .login-pop-right .pt70 {
  padding-top: 70px;
}
.login-pop .login-pop-right .login-info {
  width: 260px;
  margin: 0 auto;
}
.login-pop .login-pop-right .login-number {
  width: 258px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #bababa;
  border-radius: 2px;
}
.login-pop .login-pop-right .login-number input {
  outline: none;
  border: none;
}
.login-pop .login-pop-right .login-number .login-number-bg {
  width: 11px;
  height: 16px;
  margin: 11px 20px;
  background: url('../../bundle/img/icon.png') -537px -130px no-repeat;
}
.login-pop .login-pop-right .password {
  width: 258px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #bababa;
  border-radius: 2px;
}
.login-pop .login-pop-right .password input {
  outline: none;
  border: none;
}
.login-pop .login-pop-right .password .password-bg {
  width: 14px;
  height: 16px;
  margin: 11px 20px;
  background: url('../../bundle/img/icon.png') -575px -130px no-repeat;
}
.login-pop .login-pop-right .identify-code input {
  height: 38px;
  line-height: 38px;
  width: 128px;
  border: 1px solid #bababa;
}
.login-pop .login-pop-right .identify-code .identify-img {
  margin-left: 5px;
  height: 40px;
  width: 100px;
}
.login-pop .login-pop-right .login-pop-tip {
  height: 24px;
  margin: 4px 0;
}
.login-pop .login-pop-right .login-pop-tip .error-tip {
  padding: 0 20px;
}
.login-pop .login-pop-right .pop-login-btn {
  width: 260px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #cb441e;
  border-radius: 4px;
  cursor: pointer;
}
.login-pop .login-pop-right .pop-login-btn:hover {
  background: #b73611;
}
.login-pop .login-pop-right .login-handle {
  margin-top: 20px;
}
.black3 {
  color: #333333;
}
.find-password {
  height: 360px;
  margin-top: -180px;
}
.find-password .popupbox {
  height: 280px;
}
.find-password .pop-content {
  width: 250px;
  margin: 0 auto;
  text-align: right;
}
.find-password .pop-content .phone-tip {
  margin-left: 60px;
}
.find-password .pop-content .code-tip {
  margin-left: 60px;
}
.find-password .pop-content .code input {
  width: 83px;
}
.find-password .pop-content .code .send-code-btn {
  display: inline-block;
  width: 94px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  background-color: #cb441e;
}
.find-password .pop-content .mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.find-password .pop-content .w188 {
  width: 182px;
}
.find-password .pop-content .w154 {
  width: 154px;
}
.find-password .pop-content .align-left {
  text-align: left;
}
.collection .pop-content {
  width: 210px;
  margin: 0 auto;
}
.collection-fail .pop-content {
  margin-top: 40px;
  text-align: center;
}
.collection-fail .mb5 {
  margin-bottom: 5px;
}
.bind-phone-fail {
  height: 210px;
  width: 320px;
  margin-left: -160px;
  margin-top: -105px;
}
.bind-phone-fail .popupbox {
  height: 130px;
}
.bind-phone-fail .pop-content {
  width: 145px;
  margin: 0 auto;
}
.bind-phone-fail .pop-content .error-tip {
  margin: 5px 0 20px 0;
  width: 118px;
}
.bind-phone-fail .submit {
  width: 120px;
}
.find-password-fail {
  height: 210px;
  width: 320px;
  margin-left: -160px;
  margin-top: -105px;
}
.find-password-fail .popupbox {
  height: 130px;
}
.find-password-fail .pop-content {
  width: 145px;
  margin: 0 auto;
}
.find-password-fail .pop-content .error-tip {
  margin: 5px 0 20px 0;
  width: 118px;
}

/*# sourceMappingURL=maps/login.css.map */
